.custom-dropdown {
  appearance: none; /* Remove default arrow */
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('C:/Users/Hrithik/OneDrive/Documents/Sentiment UI/UI/Trial1/senti-ui/3icon.png'); /* Set triple dot icon as background image */
  background-position: right 15px center; /* Position the icon on the right */
  background-repeat: no-repeat; /* Prevent icon repetition */
  background-size: 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; /* Add some padding to make space for the icon */
  width : 90%;
  height : 100%;
  border-radius: 10px;
}
